name: Import Tradin

on:
  schedule:
    - cron: "00 17 * * *"   # 18:00 España = 17:00 UTC
  workflow_dispatch:

permissions:
  contents: read
  actions: write

concurrency:
  group: "scraper-tradingshenzhen"
  cancel-in-progress: true

jobs:
  ejecutar-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar librerías
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 woocommerce lxml

      - name: Ejecutar Script
        env:
          WP_URL: ${{ secrets.WP_URL }}
          WP_KEY: ${{ secrets.WP_KEY }}
          WP_SECRET: ${{ secrets.WP_SECRET }}

          TSZ_URLS: ${{ secrets.TSZ_URLS }}
          SOURCE_URL_TRADINGSENZHEN: ${{ secrets.SOURCE_URL_TRADINGSENZHEN }}
          AFF_TRADINGSENZHEN: ${{ secrets.AFF_TRADINGSENZHEN }}

        run: python tradin.py

      - name: Borrar historiales antiguos
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 7
          keep_minimum_runs: 6
